body {
    padding: 70px;
    background-image: url("../img/CoServingBg_02.jpg");
    background-size: 100% auto;
    background-repeat: repeat;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.navbar-inverse {
    background-color: #fce38a;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 70px;
}

.navbar-brand {
    font-size: 2em;
    margin-left: 50px;
    margin: 9px 0px auto;
}

.navbar-inverse .navbar-toggle {
    border: none;
    margin-top: 17px;
}

.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
    background-color: #f38181;
}

.navbar-collapse .collapse .in>ul {
    background-color: #ffffff;
}


/* 
#f38181 pink
#fce38a yellow
#95e1d3 green
#77ace0 blue
*/

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a {
    color: #ffffff;
    text-align: center;
    margin-left: 20px;
    border: 2px solid #ffffff;
    background-color: #fce38a;
}

.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover {
    background-color: #f38181;
    text-align: center;
    border: 2px solid #ffffff;
    -webkit-transition: background-color 0.6s ease;
    -moz-transition: background-color 0.6s ease;
    -o-transition: background-color 0.6s ease;
    transition: background-color 0.6s ease;
}

@media screen and (min-width: 768px) {
    .navbar-nav {
        float: right;
        margin: 0;
        margin: 9px 0px auto;
    }
    .navbar-inverse .navbar-brand,
    .navbar-inverse .navbar-nav>li>a {
        margin-left: 0 px;
    }
}

@media screen and (max-width: 480px) {
    .navbar-brand {
        margin-left: 90px;
    }
    .navbar-inverse .navbar-nav>li>a {
        margin-left: 0px;
        border: 2px solid #ffffff;
    }
    .navbar-inverse .navbar-collapse,
    .navbar-inverse .navbar-form {
        border: 0;
    }
}


/* coserving-main-info */

.coserving-main-info {
    margin-top: 30px;
}

.panel-coserving {
    border: 3px #f38181 solid;
}

.panel-coserving>.panel-heading {
    background-color: #f38181;
    color: #ffffff;
    font-size: 1.5em;
    font-weight: 600;
}

.user-photo {
    height: 150px;
    width: auto;
    border: 2px #f38181 solid;
    border-radius: 10px;
}

.user-getinfo {
    text-align: left;
}

.coserving-user-info {
    margin-top: 15px;
}

.coserving-user-info>strong {
    padding: 5px;
    border: 1.5px solid;
    margin-right: 10px;
    border-radius: 5px;
}

.info-id>strong {
    color: #f38181;
}

.info-email>strong {
    color: #fce38a;
}

.info-address>strong {
    color: #77ace0;
}

.info-money>strong {
    color: #95e1d3;
}

#coserving-get-user-address {
    display: inline-block;
    width: 250px;
    overflow: scroll;
    position: relative;
    bottom: 0;
    left: 0;
}

#photo-id {
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.event-creator-photo {
    height: 200px;
    width: auto;
    border: 2px #f38181 solid;
}

#event-photo-id {
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto
}


/*  eventinfo use*/

.coserving-event-info {
    margin-top: 15px;
}

.coserving-event-info>strong {
    padding: 10px;
    border: 1.5px solid;
    margin-right: 10px;
}

.event-getinfo {
    text-align: left;
    margin: 0px 0 30px 0;
}

@media screen and (max-width: 700px) {
    .event-getinfo {
        text-align: center;
    }
}

.info-eventstate>strong {
    color: #f38181;
}

.info-eventcreator {
    text-align: left;
    margin-bottom: 10px;
}

.info-eventcreator>strong {
    color: #f38181;
}

.info-eventpaircount>strong {
    color: #f18505
}

.info-eventtype>strong {
    color: #fce38a;
}

.info-eventpeople>strong {
    color: #77ace0;
}

.info-eventmoney>strong {
    color: #95e1d3;
}

.info-eventtime>strong {
    color: #c87cd8;
}

.event-check {
    margin-top: 60px;
}

.coserving-link-button {
    font-size: 15px;
    padding: 10px;
    border: 2px solid #878787;
    color: #878787;
    font-weight: 700;
    margin-right: 10px;
}

.coserving-link-button:hover {
    color: white;
    background-color: #878787;
    border: 2px solid #878787;
}

.coserving-link-button:link,
.coserving-link-button:visited,
.coserving-link-button:hover,
.coserving-link-button:active {
    text-decoration: none;
}

.coserving-pair-button {
    background-color: white;
    border: 2px solid #77ace0;
    color: #77ace0;
    font-weight: 700;
}

.coserving-pair-button:hover {
    color: white;
    background-color: #77ace0;
    border: 2px solid #77ace0;
}