.login-top {
    margin-top: 150px;
}

.login-panda {
    height: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.login-title {
    text-align: center;
    color: #f38181;
    font-size: 30px;
    font-weight: 700;
}

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    border-radius: 30px;
    max-width: 500px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    outline: 0;
    width: 70%;
    border: 0;
    margin: 0 0 15px;
    border-bottom: 3px;
    border-bottom-style: solid;
    border-color: #f38181;
    padding: 13px;
    box-sizing: border-box;
    font-size: 14px;
}

.form input::placeholder {
    color: #c1bfbc;
}

.form button {
    text-transform: uppercase;
    outline: 0;
    background: #95e1d3;
    border-radius: 30px;
    width: 60%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    margin-top: 10px;
}

.form button:hover,
.form button:active,
.form button:focus {
    background: #0dba98;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.form .message a {
    color: #95e1d3;
    text-decoration: none;
}

.form .register-form {
    display: none;
}

.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}

.container:before,
.container:after {
    content: "";
    display: block;
    clear: both;
}

.container .info {
    margin: 50px auto;
    text-align: center;
}

.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}

.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}

.container .info span a {
    color: #000000;
    text-decoration: none;
}

.container .info span .fa {
    color: #EF3B3A;
}

body {
    background-image: url("../img/CoServingBg_01.jpg");
    background-size: 100% auto;
    background-repeat: repeat;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    background-image: url("../img/CoServingBg_01.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    no-repeat center center fixed;
}

label {
    font-weight: normal;
}

.linkToRegester:hover {
    font-weight: 700;
}


